
@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');

/* --------------------------------------- global  */
.g-base {
    background-color: #17153B;
    padding: 0px;
    margin: 0px;
}

/* -------------------------------------- multipage  */

header {
    background-color: #2c295c;
    color: #ffff; 
    font-family: "Electrolize", Arial, Helvetica, sans-serif;

    .heading {
        font-size: 2.3rem;
        padding-left: 75px;
    }

    .sub-heading {
        font-size: 1.7rem;
        padding-left: 75px;
    }

    .links {
        font-size: 1.3rem;
    }
    
}

a {
    color: #ffff; 
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: #ffffff8a;
}

/* -------------------------------------- resume  */

#p-resume header {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-template-areas:
        "header links"
        "subheader links";

    .heading {
        grid-area: header;
    }

    .sub-heading {
        grid-area: subheader;
    }

    .links {
        grid-area: links;
        justify-self: end;
        align-content: center;
    
        display: grid;
        padding: 20px;
    }
}

#p-resume main {
    color: #fff;
    font-family: 'Courier New', Courier, monospace;

    display: grid;
    grid-template-columns: 75px auto;
    grid-template-rows: auto;
    grid-template-areas:
        "aside content";
    grid-gap: 20px;
    width: 100%; 

    #s-icons {
        font-size: 2.5rem;
        grid-area: aside;
        background-color: #2c295c;
        
    
        display: flex; 
        flex-direction: column;
        align-items: center;
        justify-content: end;
        
    
        a {
            padding-top: 20px;
            
        }
    }

    #s-content {
        grid-area: content;
        justify-self: center;

        .title {
            font-weight: 800;
        }
    }
}

/* -------------------------------------- home page */

#p-homePage header {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-template-areas:
        "header links"
        "subheader links";

    .heading {
        grid-area: header;
    }

    .sub-heading {
        grid-area: subheader;
    }

    .links {
        grid-area: links;
        justify-self: end;
        align-content: center;
        padding: 20px;
        display:grid;
    }
}

#p-homePage main {
    color: #fff;
    font-family: 'Courier New', Courier, monospace;

    display: grid;
    grid-template-columns: 75px auto;
    grid-template-rows: auto;
    grid-template-areas:
        "aside content";
    grid-gap: 20px;

    width: 100%; 
    height: 97vh;

    #s-content {
        grid-area: content;
        justify-self: center;
    
    
        display: grid;
        grid-template-columns: 500px 500px;
        grid-template-rows: auto;
        grid-template-areas:
            "img section";
    
        section {
            grid-area: section;
            justify-self: center;
            align-self: center;
            padding-left: 50px;
            font-size: 1.5rem;
        }
    
        figure {
            grid-area: img;
            justify-self: center;
            align-self: center;
        }

        img {
            border-radius: 8%;
            border: 3px solid #fff;
        }
    }

    #s-icons {
        font-size: 2.5rem;
        grid-area: aside;
        background-color: #2c295c;
        
    
        display: flex; 
        flex-direction: column;
        align-items: center;
        justify-content: end;
        
    
        a {
            padding-top: 20px;
            
        }
    }
}

/* -------------------------------------- web app */

#p-webApp header {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-template-areas:
        "header links"
        "subheader links";

    .heading {
        grid-area: header;
    }

    .sub-heading {
        grid-area: subheader;
    }

    .links {
        grid-area: links;
        justify-self: end;
        align-content: center;
    
        display: grid;
        padding: 20px;
    }
}

#p-webApp main {
    color: #fff;
    font-family: 'Courier New', Courier, monospace;

    display: grid;
    grid-template-columns: 75px auto;
    grid-template-rows: auto;
    grid-template-areas:
        "aside content";
    grid-gap: 20px;
    width: 100%; 

    #s-icons {
        font-size: 2.5rem;
        grid-area: aside;
        background-color: #2c295c;
        
    
        display: flex; 
        flex-direction: column;
        align-items: center;
        justify-content: end;
        
    
        a {
            padding-top: 20px;
            
        }
    }

    #s-content {
        grid-area: content;
        justify-self: center;
        text-align: center;
    
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto;
        grid-template-areas:
            "one two"
            "three four"
            "five six";

        img {
            border-radius: 8%;
        }
    
        #sample1 {
            grid-area: one;
        }
    
        #sample2 {
            grid-area: two;
        }
    
        #sample3 {
            grid-area: three;
        }
    
        #sample4 {
            grid-area: four;
        }
    
        #sample5 {
            grid-area: five;
        }
    
        #sample6 {
            grid-area: six;
        }

        .title {
            font-size: 1.5rem;
        }
    }
}

/* -------------------------------------- other samples */
#p-otherSamples header {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-template-areas:
        "header links"
        "subheader links";

    .heading {
        grid-area: header;
    }
    
    .sub-heading {
        grid-area: subheader;
    }
    
    .links {
        grid-area: links;
        justify-self: end;
        align-content: center;
    
        display: grid;
        padding: 20px;
    }
    
}


#p-otherSamples main {
    color: #fff;
    font-family: 'Courier New', Courier, monospace;

    display: grid;
    grid-template-columns: 75px auto;
    grid-template-rows: 97vh;
    grid-template-areas:
        "aside content";
    grid-gap: 20px;

    #s-icons {
        font-size: 2.5rem;
        grid-area: aside;
        background-color: #2c295c;
        
    
        display: flex; 
        flex-direction: column;
        align-items: center;
        justify-content: end;
        
    
        a {
            padding-top: 20px;
            
        }
    }

    #s-content {
        .flex-container {
            display: grid;
            grid-template-columns: auto auto auto;
            grid-template-rows: auto;
            grid-template-areas:
                "one two three";
            grid-gap: 20px;
        }

        .title {
            font-size: 1.5rem;
        }

        #otherSample1 {
            grid-area: one;
            text-align: center;
        }

        #otherSample2 {
            grid-area: two;
            text-align: center;
        }

        #otherSample3 {
            grid-area: three;
            text-align: center;
        }

        img {
            border-radius: 8%;
        }

        figcaption {
            background-color: #2c295c;
            padding: 10px;
            border: 3px solid #fff; 
            min-height: 110px;
            max-width: 700px;
        }
    }
}

/* -------------------------------------- full web samples */

#p-webSamples header {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-template-areas:
        "header links"
        "subheader links";

    .heading {
        grid-area: header;
    }

    .sub-heading {
        grid-area: subheader;
    }

    .links {
        grid-area: links;
        justify-self: end;
        align-content: center;
    
        display: grid;
        padding: 20px;
    }
}

#p-webSamples main {
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2rem;

    display: grid;
    grid-template-columns: 75px auto;
    grid-template-rows: auto;
    grid-template-areas:
        "aside content";
    grid-gap: 20px;
    width: 100%; 
    

    #s-icons {
        font-size: 2.5rem;
        grid-area: aside;
        background-color: #2c295c;
        
        display: flex; 
        flex-direction: column;
        align-items: center;
        justify-content: end;
        
    
        a {
            padding-top: 20px;
            
        }
    }

    #s-content {
        grid-area: content;
        justify-self: center;
        max-width: 1000px;

        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        grid-template-areas:
        "header links"
        "subheader links";

        .title {
            font-size: 1.8rem;
            justify-self: center;
        }

        figure {
            justify-self: center;
        }

        nav {
            justify-self: center;
            padding-bottom: 20px;;
        }
    }
}


/* -------------------------------------- media queries */
@media screen and (max-width: 1800px) {
    #p-otherSamples main {
        grid-template-rows: auto;
    }

    #p-otherSamples main #s-content {
        .flex-container {
            display: flex; 
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            max-width: 1000px;
            justify-self: center;
        }

        .title {
            font-size: 1.5rem;
        }

        #otherSample1 {
            grid-area: one;
            flex: 1 1 45%;
            justify-items: center;
        }

        #otherSample2 {
            grid-area: two;
            flex: 1 1 45%;
            justify-items: center;
        }

        #otherSample3 {
            grid-area: three;
            flex: 1 1 45%;
            justify-items: center;
        }
    }
}

@media screen and (max-width: 1200px) {

    #p-homePage main #s-content {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto;
        grid-template-areas:
        "img"
        "section";
    }

    #p-webApp main #s-content {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto auto auto;
        grid-template-areas:
            "one"
            "two"
            "three"
            "four"
            "five"
            "six";
    }
}




@media screen and (max-width: 800px) {
    /* -------------------------------------- web app page*/
    #p-webApp header {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
        grid-template-areas:
            "header"
            "subheader"
            "links";
        justify-items: center; 
        
        .heading {
            padding-left: 0px;
            padding-bottom: 10px;
        }

        .sub-heading {
            padding-left: 0px;
        }

        .links {
            grid-area: links;
            justify-self: center;
            

            display: flex; 
            flex-direction: row;
            

            a {
                padding: 10px;
            }
            

            
        }
    }

    #p-webApp main {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto 75px;
        grid-template-areas:
        "content"
        "aside";
        grid-gap: 20px;
    }

    #p-webApp main #s-icons {
        display: flex; 
        flex-direction: row;
        align-items: center;
        justify-content: end;
        
        a {
            padding: 10px;
        }
    }

    #p-webApp main #s-content {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto auto auto;
        grid-template-areas:
            "one"
            "two"
            "three"
            "four"
            "five"
            "six";

        img {
            height: 400px;
            width: 400px;
        }
    }

    
    /* -------------------------------------- home page */
    #p-homePage header {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
        grid-template-areas:
            "header"
            "subheader"
            "links";
        justify-items: center; 
        
        .heading {
            padding-left: 0px;
            padding-bottom: 10px;
        }

        .sub-heading {
            padding-left: 0px;
        }

        .links {
            grid-area: links;
            justify-self: center;
            

            display: flex; 
            flex-direction: row;
            

            a {
                padding: 10px;
            }
        }
    }

    #p-homePage main {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto 75px;
        grid-template-areas:
        "content"
        "aside";
        grid-gap: 20px;
    }

    #p-homePage main #s-icons {
        display: flex; 
        flex-direction: row;
        align-items: center;
        justify-content: end;

        
        a {
            padding: 10px;
        }
    }

    #p-homePage main #s-content {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto;
        grid-template-areas:
        "img"
        "section";
    }

    /* -------------------------------------- resume */
    #p-resume header {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
        grid-template-areas:
            "header"
            "subheader"
            "links";
        justify-items: center; 
        
        .heading {
            padding-left: 0px;
            padding-bottom: 10px;
        }

        .sub-heading {
            padding-left: 0px;
        }

        .links {
            grid-area: links;
            justify-self: center;
            

            display: flex; 
            flex-direction: row;
            

            a {
                padding: 10px;
            }
        }
    }

    #p-resume main {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto 75px;
        grid-template-areas:
        "content"
        "aside";
        grid-gap: 20px;
    }

    #p-resume main #s-icons {
        display: flex; 
        flex-direction: row;
        align-items: center;
        justify-content: end;

        
        a {
            padding: 10px;
        }
    }

    #p-resume main #s-content {
        max-width: 800px;
        padding: 20px;
        
    }

    /* -------------------------------------- web samples */
    #p-webSamples header {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
        grid-template-areas:
            "header"
            "subheader"
            "links";
        justify-items: center; 
        
        .heading {
            padding-left: 0px;
            padding-bottom: 10px;
        }

        .sub-heading {
            padding-left: 0px;
        }

        .links {
            grid-area: links;
            justify-self: center;
            

            display: flex; 
            flex-direction: row;
            

            a {
                padding: 10px;
            }
        }
    }

    #p-webSamples main {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto 75px;
        grid-template-areas:
        "content"
        "aside";
        grid-gap: 20px;
    }

    #p-webSamples main #s-icons {
        display: flex; 
        flex-direction: row;
        align-items: center;
        justify-content: end;
        
        a {
            padding: 10px;
        }
    }

    #p-webSamples main #s-content {
        max-width: 800px;
        padding: 20px;
        .title {
            font-size: 1.6rem;
        }

        img {
            height: 500px;
            width: 500px;
        }
    }

    /* -------------------------------------- other samples */
    #p-otherSamples header {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
        grid-template-areas:
            "header"
            "subheader"
            "links";
        justify-items: center; 
        
        .heading {
            padding-left: 0px;
            padding-bottom: 10px;
        }

        .sub-heading {
            padding-left: 0px;
        }

        .links {
            grid-area: links;
            justify-self: center;
            

            display: flex; 
            flex-direction: row;
            

            a {
                padding: 10px;
            }
        }
    }

    #p-otherSamples main {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto 75px;
        grid-template-areas:
        "content"
        "aside";
        grid-gap: 20px;
    }

    #p-otherSamples main #s-icons {
        display: flex; 
        flex-direction: row;
        align-items: center;
        justify-content: end;
        
        a {
            padding: 10px;
        }
    }
    
    #p-otherSamples main #s-content {
        grid-template-columns: 500px;
        grid-template-rows: auto auto auto;
        grid-template-areas:
            "one"
            "two"
            "three";

        justify-self: center;
        text-align: center;
        img {
            height: 300px;
            width: 300px;
        }
    }
}

@media screen and (max-width: 600px) {
    #p-webSamples main #s-content img {
        height: 400px;
        width: 400px;
    }

    #p-homePage main #s-content img {
        height: 400px;
        width: 400px;
    }
}